.header{
    background-color: lightyellow;
    font-size: 30px;
    display: block;
    text-align: center;
    color: orangered;
}

.div{
    margin: 100px 400px;
    background-color: lightcyan;
    text-align: left;
}

.bgc{
    background-color: snow;
}

@media (max-width: 1400px) {
    .div{
        margin: 0px;
        background-color: snow;
    }
}